services:
  samba:
    container_name: home-nas-samba
    environment:
      SAMBA_CONF_LOG_LEVEL: 2
      SAMBA_CONF: |
        [media]
        path = /shares/media
        valid users = myuser
        guest ok = no
        read only = no
        browseable = yes
        create mask = 0740
        force create mode = 0740
        directory mask = 0750
        force directory mode = 0750
      USERS_CONF: |
        myuser:1000:0cb6948805f797bf2a82807973b89537
    volumes:
      - /mnt/myhdd/torrents:/shares/media
